.container {
    width: 140px;
    height: 140px;
    align-items: center;
    position: relative;
    animation: none;
  }
  
  .container .dotted-circle {
    width: 93.5px;
    height: 93.5px;
    /* border-style: solid; */
    /* border: 1px dashed #1c1c1c; */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    position: absolute;
    top: -13%;
    left: -13%;
    transform: translate(-50%, -50%);
    animation: rotateAntiClockwise 6s infinite linear;
  }
  
  @keyframes rotateAntiClockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  
  .container .circle {
    width: 72px;
    height: 72px;
    border: solid 1px #1c1c1c;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    animation: none;
  }
  
  .container .top-left-quarter-circle {
    width: 57px;
    height: 57px;
    background-color: transparent;
    border: 1px solid #1c1c1c;
    border-radius: 300px 0 0 0;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 4;
    animation: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

.container .line {
    width: 83px;
    align-items: center;
    height: 1px;
    bottom: 249px;
    background-color: #000;
}

.container .four-point-star::after,
.container .four-point-star::before {
    position: absolute;
    content: "\2726";
    font-size: 1.2rem;
    margin-left: 74px;
    top: -43px;
      animation: scaleUp 2s infinite;
}

.container .four-point-star::after { /* The foreground star */
    background: #1c1c1c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      animation: scaleUp 2s infinite;
}

.container .four-point-star-small::after,
.container .four-point-star-small::before {
    position: absolute;
    content: "\2726";
    font-size: 0.6rem;
    margin-left: 85px;
    top: -167px;
    animation: scaleDown 2s infinite;
}

.container .four-point-star-small::after { /* The foreground star */
    background: #1c1c1c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: scaleDown 2s infinite;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.67);
  }
  100% {
    transform: scale(1);
  }
}