.top-container {
  position: relative;
  transform: rotate(-115deg);
  /* width: 1031px; */
  /* height: 1240.4px; */
}

.top-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: white;
  border: 1px solid #e2e2e2;
  top: 0;
  left: 0;
  opacity: 1;
  offset-path: path(
    "M 319 0 A 318.5 534.5 0 1 0 319 1069 A 318.5 534.5 0 1 0 319 0 Z"
  );
}

.middle-container {
  transform: rotate(-113deg);
  width: 790px;
  height: 1994px;
  position: relative;
}

.middle-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: white;
  border: 1px solid #e2e2e2;
  top: 0;
  left: 0;
  opacity: 1;

  offset-path: path(
    "M461.07 2.056c206.53-36.11 338.678 407.689 295.151 991.252S509.977 2079.216 303.443 2115.326s-338.678-407.688-295.15-991.252S254.536 38.167 461.07 2.056z"
  );
}

.bottom-container {
  transform: rotate(-66deg);
  width: 650px;
  height: 1104px;
  position: relative;
}

.bottom-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: white;
  border: 1px solid #e2e2e2;
  top: 0;
  left: 0;
  opacity: 1;
  offset-path: path(
    "M 319 0 A 319 534.5 0 1 0 319 1069 A 319 534.5 0 1 0 319 0 Z"
  );
}

.tablet-container {
  transform: rotate(-58deg);
  width: 650px;
  height: 1474px;
  position: relative;
}

.tablet-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: white;
  border: 1px solid #e2e2e2;
  top: 0;
  left: 0;
  opacity: 1;
  offset-path: path("M 319 0 A 319 535 0 1 0 319 1070 A 319 535 0 1 0 319 0 z");
}

.example {
  height: min-content;
  stroke: #1c1c1c;
  padding: 4%;
  stroke-width: 1px;
  border: 1px solid #eaeef5;
}
.xx {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: red;
  border: 1px solid #e2e2e2;
  offset-path: path("M 10, 15 L 40, 15z");
}



.funded-box-one {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  transform: translate(1413 4247);
  offset-path: path(
    "M310,155A154.5,154.5 0 0,0 0.5,155A154.5,154.5 0 0,0 310,155Z"
  );
}
.funded-box-two {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  transform: translate(1413 4247);
  offset-path: path(
    "M310,155A154.5,154.5 0 0,0 0.5,155A154.5,154.5 0 0,0 310,155Z"
  );
}

.funded-box-one-mobile {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  transform: translate(1413 4247);
  offset-path: path(
    "M260,130A123,123 0 0,0 0.4,130A123,123 0 0,0 260,130Z"
  );
}
.funded-box-two-mobile {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  transform: translate(1413 4247);
  offset-path: path(
    "M260,130A123,123 0 0,0 0.4,130A123,123 0 0,0 260,130Z"
  );
}

.dotted {
transform:  translate(100);
}

.titan-box-vertical {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M200 0v400h1V0z"
  );
}

.titan-box-horizontal{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M0 200h400v1H0z"
  );
}

.titan-box-diagonal{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M239 -235v540h0.1V0z"
  );
  
}

.titan-box-vertical-mobile {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M162 0v322h0.1V0z"
  );
}

.titan-box-horizontal-mobile{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M0 162h322v0.1H0z"
  );
}


.titan-box-diagonal-mobile{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background: #2a72e5;
  offset-path: path(
    "M269 -239v419h0.1V0z"
  );
  
}
.titan {
  left: -500px;
  position: relative;
  transform: rotate(45deg);
  top: -42px;
 
}

.diagonal {
  transform: rotate(45deg);
}

